@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial.ttf');
	src: local('Arial Regular'), local('Arial-Regular'),
		url('../../assets/fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia.ttf');
	src: local('Georgia Regular'), local('Georgia-Regular'),
		url('../../assets/fonts/georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
    box-sizing: border-box;
	scroll-behavior: smooth; 
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
	margin: 0;
	position: relative;
	overflow-x: hidden;
	width: 100vw;
}

img {
    
    height: auto;
    vertical-align: middle;
}

p, h1, h2, h3, h4, h5 {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  
.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	text-decoration: none;
}

:root {
	--color-light-xl: #FFFFFF;
	--color-light-l:#F6F6F6;
	--color-light-s:#FAFAFA;
	--color-dark-s:#CDCDCD;
	--color-dark-m:#B2B2B2;
	--color-dark-l:#545454;
	--color-dark-xl:#4C4C4C;
	--color-dark-2xl:#444444;
	--color-dark-3xl:#292929;
	--color-primary:#F1CDB3;
	--color-primary-light:#FDDCC4;
}

/* HEADER */


.header-main {
	background-size: cover;
	background-color: var(--color-light-xl);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-bottom: 30px;
	position: sticky;
    top: 0px;
}

.header-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
	padding-top: 30px;
	max-width: 1200px;
}

h1 {
	margin-bottom: 10px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
}

.logo-header-description {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--color-dark-3xl);
	margin-left: 4px;
    background-color: var(--color-light-xl);
    position: sticky;
}

.nav-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav-header-link {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-l);
	margin-left: 36px;
	text-decoration: none;
	margin-bottom: 3px;
	transition-duration: 0.5s;
}

.nav-header-link:hover, .nav-header-link:focus, .nav-header-link:active {
	color: var(--color-dark-3xl);
	transition-duration: 0.5s;

}

.nav-header-link-active {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-3xl);
	text-decoration: none;
	margin-left: 36px;
	margin-bottom: 3px;
	border-bottom: solid var(--color-primary) 3px;
	
}


/* MAIN */
.main {
    
	background-color: var(--color-light-l);
	
}

.slider-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 80px;
    padding-bottom: 83px;
}

h4 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 43px;
	text-align: center;
	/* margin-top: 110px; */
}

.slider {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 45px;
	height: 930px;
	align-items:center;
	justify-content: space-between;
	width: 100%;
}

.slider-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-light-s);
	cursor: pointer;
}

.slider-item:hover {
	background-color: var(--color-light-xl);
}

.slider-name {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 30px;
	margin-top: 30px;
}

.slider-button {
	border: 2px solid var(--color-primary);
	width: 187px;
	height: 52px;
	border-radius: 100px;
	background-color: transparent;
	margin-bottom: 27px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-3xl);
	cursor: pointer;
}

.slider-button:hover {
	background-color : var(--color-primary-light);
	transition-duration: 0.5s;
	border: 2px solid transparent;
}

.slider-item:hover .slider-button {
	background-color : var(--color-primary-light);
	transition-duration: 0.5s;
	border: 2px solid transparent;
}

.slider-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 18px;
	width: 340px;
}

.slider-button1, 
.slider-button2 {
	width: 52px;
	height: 52px;
	border: 2px solid var(--color-dark-s);
	box-sizing: border-box;
	border-radius: 100px;
	background-color: transparent;
	color: var(--color-dark-s);
	font-size: 20px;
}

.slider-button3 {
	width: 52px;
	height: 52px;
	background: var(--color-primary);
	border-radius: 100px;
	color: var(--color-dark-3xl);
	border: none;
}

.slider-button4,
.slider-button5 {
	width: 52px;
	height: 52px;
	border: 2px solid var(--color-primary);
	box-sizing: border-box;
	border-radius: 100px;
	background-color: transparent;
	color: var(--color-dark-3xl);
	font-size: 20px;
}


.slider-button4:hover,
.slider-button5:hover {
	background: var(--color-primary-light);
	border: none;
}




/* FOOTER */

.footer {
	background-repeat: no-repeat;
	background-image: url(../../assets/images/footer-gradient-background.jpg);
	background-size: cover;
	background-position: 0 0;
}

.footer-wrapper {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-between;
	align-items: center;
}

.footer-block {
	display: flex;
	flex-direction: column;
	width: 302px;
	height: 234px;
	margin-bottom: 18px;
	margin-right: 75px;
	justify-content: center;
}

.footer-block1 {
	width: 280px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 309px;
}

.footer-phone {
	margin-top: 10px;
}

h6 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-light-xl);
	margin-bottom: 37px;
	margin-top: 40px;
}

.footer-contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	margin-bottom: 28px;
}

.footer-text {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-primary);
	margin-left: 20px;
	text-decoration: none;
}


.footer-img {
	margin-top: 40px;
}



@media screen and (max-width: 1279px) {

	.container {
		min-width: 738px;
		padding: 0 30px;
	}
/* HEADER */
	.header-wrapper {
		padding-top: 30px;
	}

	.not-only-wrapper {
		flex-direction: column;
		align-items: center;
	}

	.not-only-text-block {
		align-items: center;
		margin-top: 180px;
		margin-right: 0px;
		width: 65%;
	}

	.not-only-text-block h2 {
		align-self: flex-start;
	}

	.not-only-img {
		display: flex;
		margin-top: 100px;
		justify-content: flex-end;
	}

	.not-only-img img {
		width: 81.5%;
	}


/* SLIDER	 */

	.slider {
		height: auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		justify-items: center;
		margin-bottom: 44px;
		row-gap: 48px;
		width: auto;
		column-gap: 40px;
	}

	.slider-item {
		width: 270px;
		margin-top: -15px;
	}

	.slider-buttons {
		margin-bottom: -6px;
	}


/* FOOTER */

	.footer-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		justify-items: center;
	}

	.footer-block {
		margin-right: 17px;
		margin-top: -12px;
	}

	.footer-block1 {
		margin-right: 8px;
	}

	.footer-img {
		margin-top: 12px;
		grid-area: 2 / 1 / 2 / 3;
	}
	
}