.main {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 35%;
}

.sort {
  width: 100%;
  height: 10%;
  border: solid 1px var(--dark-color);
  border-radius: 10px;
  padding: 2%;
  font-family: 'Montserrat';
  font-size: 1.4vw;
  color: var(--dark-color);
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  text-align: center;
  align-items: center;
  cursor: default;
}

.sort button {
  width: fit-content;
  height: 80%;
  font-size: 1vw;
  background-color: var(--green-color);
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  padding: 2%;
  opacity: 70%;
  margin-left: 5%;
}

.sort button:hover {
  transform: scale(1.005) translateZ(0);
  box-shadow: 0px 0px 17px var(--green-color);
  transition: 0.5s;
  cursor: pointer;
}

.catalog {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  color: var(--dark-color);

}

.poster {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
  cursor: pointer;
}

.poster__img {
  width: 30%;
  border: solid 1px var(--green-color);
  border-radius: 10px;
  cursor: pointer;
}

.poster__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.poster__info-name {
  color: var(--dark-color);
  font-size: 1.5vw;
  cursor: pointer;
}

.poster__info-name-after::after {
  content: '\1F525';
  cursor: pointer;
}

.poster__info-designer-year {
  color: var(--green-color);
  font-size: 0.7vw;
  margin-bottom: 3%;
  cursor: pointer;
}

.poster__info-diff {
  color: var(--green-color);
  font-size: 1vw;
  font-weight: 700;
  cursor: pointer;
}

.poster__info-diff p {
  font-weight: normal;
  margin-left: 3%;
  display: inline;
  cursor: pointer;
  color: var(--orange-color);
}

.poster__info-prize {
  color: var(--dark-color);
  font-size: 1.5vw;
  font-weight: 700;
  margin-top: 3%;
  cursor: pointer;
}

.poster__button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--orange-color);
  border: none;
  color: var(--white-color);
  font-family: 'Montserrat';
  font-size: 10px;
}

.poster__button:hover {
  transform: scale(1.005) translateZ(0);
  box-shadow: 0px 0px 17px var(--orange-color);
  transition: 0.5s;
  cursor: pointer;
}

.status__in-cart {
  opacity: 50%;
}