@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial.ttf');
	src: local('Arial Regular'), local('Arial-Regular'),
		url('../../assets/fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia.ttf');
	src: local('Georgia Regular'), local('Georgia-Regular'),
		url('../../assets/fonts/georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
    box-sizing: border-box;
	scroll-behavior: smooth; 
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
	max-width: 1280px;
	justify-content: center;
	margin: 0 auto;
}

img {
    height: auto;
    vertical-align: middle;
}

p, h1, h2, h3, h5, h6 {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  
.wrapper {
	max-width: 1280px;
}

:root {
	--color-light-xl: #FFFFFF;
	--color-light-l:#F6F6F6;
	--color-light-s:#FAFAFA;
	--color-dark-s:#CDCDCD;
	--color-dark-m:#B2B2B2;
	--color-dark-l:#545454;
	--color-dark-xl:#4C4C4C;
	--color-dark-2xl:#444444;
	--color-dark-3xl:#292929;
	--color-primary:#F1CDB3;
	--color-primary-light:#FDDCC4;
}

/* HEADER */

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
	margin: 60px 40px 0px 40px;
}

h1 {
	margin-bottom: 10px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: var(--color-primary);
}

.logo-header-description {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--color-light-xl);
	margin-left: 4px;
}

.nav-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav-header-link {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-s);
	margin-left: 36px;
	text-decoration: none;
	margin-bottom: 3px;
	transition-duration: 0.5s;
}

.nav-header-link:hover, .nav-header-link:focus, .nav-header-link:active {
	color: var(--color-light-s);
	transition-duration: 0.5s;

}

.nav-header-link-active {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-light-s);
	text-decoration: none;
	margin-left: 36px;
	margin-bottom: 3px;
	border-bottom: solid var(--color-primary) 3px;
	
}

/* NOT ONLY */

.not-only {
	width: 100%;
	height: 908px;
	background: url(../../assets/images/start-screen-gradient-background.jpg);
	margin-top: -120px;
	display: flex;
	flex-direction: row;
	align-content: space-between;
}

.not-only-text-block{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	margin-left: 40px;
	margin-top: 343px;
	margin-right: 43px;
}

h2 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	color: var(--color-light-xl);
}

.not-only-add-text {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-s);
	margin-top: 42px;
	margin-bottom: 42px;
}

.not-only-button {
	background-color: var(--color-primary);
	width: 207px;
	height: 52px;
	border: none;
	border-radius: 25px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-3xl);
	text-decoration: none;
	cursor: pointer;
	transition-duration: 0.5s;
}

.not-only-button:hover {
	background-color : var(--color-primary-light);
	transition-duration: 0.5s;
}

.not-only-img {
	margin-top: 180px;
	margin-right: 35px;
	width: 130%;
}

/* ABOUT */

.about {
	width: 100%;
	height: 588px;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: center;
	
}

.about-img {
	width: 50%;
	justify-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	padding-left: 90px;
}

.about-text-block {
	display: flex;
	flex-direction: column;
	width: 430px;
	height: 380px;
	margin-bottom: 16px;
	margin-left: -5px;
	
}

h3 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 128%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 23px;
}

.about-add-text {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-xl);
	margin-bottom: 6px;
}

/* OUR FRIENDS */
.our-friends {
	width: 100%;
	height: 877px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-light-l);
}

h4 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 60px;
	text-align: center;
	margin-top: 80px;
}

.our-friends-slider {
	display: flex;
	flex-direction: row;
	padding-right: 40px;
	padding-left: 40px;
	margin-bottom: 60px;
	height: 435px;
	align-items:center;
	justify-content: space-between;
	width: 100%;
	
}

.our-friends-arrow1 {
	width: 62px;
	height: 52px;
	margin-right: 53px;
	border: 2px solid var(--color-primary);
	box-sizing: border-box;
	border-radius: 100px;
	background: url(../../assets/icons/Arrow\ left.svg);
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px;
	cursor: pointer;
}

.our-friends-arrow1:hover {
	background-color: var(--color-primary-light);
	border: 2px solid transparent;
	transition-duration: 0.5s;
}

.our-friends-whole-trio {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.our-friends-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-light-s);
	cursor: pointer;
}

.our-friends-block:hover {
	background-color: var(--color-light-xl);
}

.our-friends-name  {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 32px;
	margin-top: 30px;
}

.our-friends-click {
	border: 2px solid var(--color-primary);
	width: 187px;
	height: 52px;
	border-radius: 100px;
	background-color: transparent;
	margin-bottom: 30px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-3xl);
	cursor: pointer;
}

.our-friends-click:hover {
	background-color : var(--color-primary-light);
	transition-duration: 0.5s;
	border: 2px solid transparent;
	
}

.our-friends-arrow2 {
	width: 60px;
	height: 52px;
	margin-left: 53px;
	border: 2px solid var(--color-primary);
	box-sizing: border-box;
	border-radius: 100px;
	background: url(../../assets/icons/Arrow\ right.svg);
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px;
	cursor: pointer;
	
}

.our-friends-arrow2:hover {
	background-color: var(--color-primary-light);
	border: 2px solid transparent;
	transition-duration: 0.5s;

}

.our-friends-button {
	background-color: var(--color-primary);
	width: 261px;
	height: 52px;
	border: none;
	border-radius: 25px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-3xl);
	text-decoration: none;
	cursor: pointer;
	transition-duration: 0.5s;
}

.our-friends-button:hover {
	background-color : var(--color-primary-light);
	transition-duration: 0.5s;
}

/* HELP */

.help {
	width: 100%;
	height: 611px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.help-img1 {
	grid-area: help-img1;
	margin-left: 14px;
}

.help-img2 {
	grid-area: help-img2;
	margin-left: 5px;
}

.help-img3 {
	grid-area: help-img3;
	margin-right: 23px;
}

.help-img4 {
	grid-area: help-img4;
	margin-right: 49px;
}

.help-img5 {
	grid-area: help-img5;
	margin-right: 33px;
}

.help-img6 {
	grid-area: help-img6;
	margin-right: 49px;
}

.help-img7 {
	grid-area: help-img7;
	margin-right: 97px;
}

.help-img8 {
	grid-area: help-img8;
	margin-right: 72px;
}

.help-img9 {
	grid-area: help-img9;
	margin-right: 4px;
}

.help-grid {
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	display: grid;
	justify-content: center;
	grid-row-gap: 55px;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto;
	grid-template-areas: 
		'help-img1 help-img1 help-img2 help-img2 help-img3 help-img3 help-img4 help-img4 help-img5 help-img5'
		'. help-img6 help-img6 help-img7 help-img7 help-img8 help-img8 help-img9 help-img9 .';
}

.help-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 113px;
	width: auto;
	justify-content: space-between;
}

.help-img-name {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
}

/* IN ADDITION */

.in-addition {
	width: 100%;
	height: 462px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--color-light-l);
	gap: 30px;
}

.in-addition-img {
	margin-bottom: 20px;
}

.in-addition-text-block {
	display: flex;
	flex-direction: column;
	width: 380px;
	height: 282px;
	margin-bottom: 18px;
	
}

h5 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 20px;
}

.in-addition-add-text1 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 20px;
}

.in-addition-add-text2 {
	font-family: 'Arial';
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: var(--color-dark-m);
	margin-top: 20px;
}

.in-addition-button {
	width: 349px;
	height: 43px;
	background: var(--color-primary);
	border-radius: 9px;
	border: none;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 1px;
	cursor: pointer;
}

.in-addition-button:hover {
	background-color : var(--color-primary-light);
	transition-duration: 0.5s;
}

/* FOOTER */

.footer {
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-image: url(../../assets/images/footer-gradient-background.jpg);

}

.footer-block {
	display: flex;
	flex-direction: column;
	width: 302px;
	height: 234px;
	margin-bottom: 18px;
	margin-right: 75px;
	justify-content: center;
}

.footer-block1 {
	width: 280px;
	
}

h6 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-light-xl);
	margin-bottom: 34px;
	margin-top: 40px;
}

.footer-contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	margin-bottom: 32px;
}

.footer-text {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-primary);
	margin-left: 20px;
	text-decoration: none;
}


.footer-img {
	margin-top: 40px;
}