.footer {
  height: 100px;
  width: 100%;
}

.footer .footer__links {
  font-family: 'Montserrat';
  font-size: 14px;
  color: var(--green-color);
  text-align: center;
  text-decoration: none;
}

.footer .footer__links:hover {
  color: var(--orange-color);
  transition: 0.5s;
}

.footer__links img {
  width: 40px;
  height: auto;
}

.footer__links img:hover {
  width: 45px;
  height: auto;
  transition: 0.5s;
}