.start-page {
  height: fit-content;
  position: relative;
}

.start-page_hide {
	opacity: 0;
	transition: .9s opacity ease-in-out;
}
.start-page_visible {
	opacity: 1;
}

.start-page__button {
  position: absolute;
  z-index: 2;
  top: 65%;
  left: 40%;
  background-color: var(--green-color);
  color: var(--grey-light-color);
  width: 20%;
  height: 5%;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-size: 100%;
}

.start-page__button:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0px 0px 17px var(--orange-color);
  transition: 0.5s;
  cursor: pointer;
}