.main__winners {
    width: 100%;
    height: auto;
}

.main__wrapper-winners {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main__title-winners {
  font-family: 'Montserrat';
  font-size: 20px;
  color: var(--dark);
  margin-bottom: 10px;
  cursor: default;
}

.main__page-counter-winners {
  margin-top: 20px;
}

.main__page-table-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.winners__pagination {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.winners__prev-button {
  background-color: var(--yellow);
  z-index: 2;
}

.winners__next-button {
  background-color: var(--orange);
  z-index: 2;
}